server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jobnexus_db
    username: root
    password: admin123
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  secret-key: ${JWT_SECRET_KEY}
  expiration: 86400000

redis:
  host: localhost
  port: 6379
  password: ${REDIS_PASSWORD}

aws:
  s3:
    bucketName: ${AWS_S3_BUCKET_NAME}
    accessKey: ${AWS_ACCESS_KEY}
    secretKey: ${AWS_SECRET_KEY}
    region: ${AWS_REGION}
    endpointUrl: ${AWS_S3_ENDPOINT_URL}